//Colors:

$color1:rgb(255,255,255);
$color2:rgb(0,0,0);
$color3:rgba(0,0,0,0.5);
$color4:rgba(0,0,0,0.24);
$color5:rgb(22, 34, 42);
$color6:rgb(58, 96, 115);


//Fonts:
$font1:Bitter;
$font2: FontAwesome;